<% meta keywords: ['developer'], title: 'Jaimerson Araújo', og: { title: 'Jaimerson Araújo' } %>
<h1 class="title author">
  Jaimerson Araújo
</h1>
<span class="description">
  Father, husband, christian, liar.
</span>
<pre>
  def foo(bar)
    do_something_with(bar)
    some_really_large_method_name_here_lolololololoooloooolllolololol
  end
</pre>
