<% meta keywords: ['developer'], title: 'Jaimerson Araújo', og: { title: 'Jaimerson Araújo' } %>
<aside class="author__info">
  <h1 class="title author">
    Jaimerson Araújo
  </h1>
  <p class="author-description">
    A moderately enthusiastic programmer.
  </p>
  <div class="social-icons">
    <a href="https://twitter.com/jaimersonn" class="social-icon twitter"></a>
    <a href="https://github.com/jaimerson" class="social-icon github"></a>
    <a href="https://facebook.com/jaimerson.araujo" class="social-icon facebook"></a>
    <a href="https://br.linkedin.com/pub/jaimerson-araújo/66/644/77b" class="social-icon linkedin"></a>
  </div>
</aside>
<% 5.times do |title| %>
  <%= render 'posts/preview' %>
<% end %>
