@import url(http://fonts.googleapis.com/css?family=Anonymous+Pro|Oswald:700|Open+Sans);

.title{
  font-family: 'Oswald', sans-serif;
}

body{
  font-family: 'Open Sans', sans-serif;
}

pre{
  fond-family: 'Anonymous Pro', monospace;
}
